{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="page-title mb-4">
        <h2 class="mb-0">Login</h2>
        <p class="lead">To access your and others profile, or administrate this app.</p>
    </div>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}
